<nav class="ui inverted menu">
    <header class="header item"><a href="/"> <img src="images/twitter_logo.png" class="ui mini image"> </a></header>
    <div class="right menu">
        <a id="adminspace" class= "item" href="/adminspace">Manage</a>
        <a id="logout" class= "item" href="/logout">Logout</a>
    </div>
</nav>

<script>
    $("#{{_id}}").addClass("active item");
</script>