<section class="ui raised segment">
    <h3>Followers: </h3>
    <div style="word-wrap: break-word">{{followers}}</div>
    <h3>Following: </h3>
    <div style="word-wrap: break-word">{{following}}</div>
</section>