<nav class="ui inverted menu">
    <header class="header item"> <img src="images/twitter_logo.png" class="ui mini image"> </header>
    <div class="right menu">
        <a id="search" class= "item" href="/search">Discover</a>
        <a id="globalTimeline" class= "item" href="/globalTimeline">Global Timeline</a>
        <a id="aggregatedTimeline" class= "item" href="/aggregatedTimeline">Your Network</a>
        <a id="timeline" class= "item" href="/timeline">Your Profile</a>
        <a id="settings" class= "item" href="/settings">Settings</a>
        <a id="logout" class= "item" href="/logout">Logout</a>
    </div>
</nav>

<script>
    $("#{{_id}}").addClass("active item");
</script>