<div class="ui card">
  <div class="image">
    <img src="images/homer2.png">
  </div>
  <div class="content">
      <h4> Name: {{ userFullName }}</h4>
      <h4> E-Mail: {{ email }}</h4>
    <div class="description">
      Kristy is an art director living in New York.
    </div>
  </div>
</div>