<div class="ui card">
  <div class="center aligned image">
    <img src="images/homer2.png" class="ui small image">
  </div>
  <div class="content">
      <h4> Name: {{ userFullName }}</h4>
      <h4> E-Mail: {{ email }}</h4>
  </div>
</div>