<section class="ui raised segment">
  <div class="ui grid ">
    <div class="ui form ten wide column">

        <form action="/tweet" method="POST">

            <h3> Your Tweet </h3>
            <div class="ui text">
                <input type="text" name="tweetText">
            </div>
            <p></p>
            <button class="ui blue submit button">Publish</button>
        </form>

    </div>
    <aside class="six wide column">
    </aside>
  </div>
</section>