<section class="ui raised segment">

        <form action="/tweet" method="POST">

            <h3> Your Tweet </h3>
            <div class="ui huge input">
                <input type="text" placeholder="Type here to tweet" name="tweetText" required>
            </div>
            <p></p>
            <button class="ui blue submit button">Publish</button>
        </form>
        {{> formerror }}
</section>