<nav class="ui inverted menu">
    <header class="header item"><a href="/"> <img src="images/twitter_logo.png" class="ui mini image"> </a></header>
  <div class="right menu">
    <a class="item" href="/signup"> Signup</a>
    <a class="item" href="/login">  Login</a>
    <a class="item" href="/admin">  Admin</a>
  </div>
</nav>