{{> welcomemenu }}

<section class="ui stacked segment">
  <div class="ui grid">
    <aside class="six wide column">
      <img src="images/twitter_logo.png" class="ui medium image">
    </aside>
    <article class="ten wide column">
      <header class="ui  header"> Welcome on Twitter</header>
      <p> Share your thoughts with your friends and get to know new people!</p>
    </article>
  </div>
</section>
