{{> mainmenu _id="search"}}
<section class="ui raised segment">

    <h2>Profile of {{ userFullName }}</h2>
    <div class="ui grid">
        <aside class="ui six wide column">
            {{> profilecard }}
        </aside>
        <aside class="ui ten wide column">
            <row>
            <div class="ui huge statistics">
                <div class="statistic">
                    <div class="value">
                        <i class="user outline icon"></i> {{numberFollowing}}
                    </div>
                    <div class="label">
                        Following
                    </div>
                </div>
                <div class="statistic">
                    <div class="value">
                        <i class="user icon"></i> {{numberFollower}}
                    </div>
                    <div class="label">
                        Followers
                    </div>
                </div>
                <div class="statistic">
                    <div class="value">
                        <i class="comments icon"></i> {{numberTweets}}
                    </div>
                    <div class="label">
                        Tweets
                    </div>
                </div>
            </div>
            </row>
            <row><br>{{> follow }}</row>
            <row>
                <br>
                <h3>Personal Timeline </h3>
                {{> personal_tweetlist }}
            </row>
        </aside>
    </div>
</section>