{{> mainmenu _id="search"}}
<section class="ui raised segment">
    <h1> Profile</h1>
    <h4> Name: {{ userFullName }}</h4>
    <h4> E-Mail: {{ email }}</h4>

    <div class="ui grid">

        <aside class="ui eight wide column">
            <h3> All Tweets </h3>
            {{> tweetlist }}
        </aside>
        <aside class="ui eight wide column">
            {{> follow}}
        </aside>
    </div>
</section>