{{> mainmenu _id="timeline"}}
<section class="ui raised segment">
    <h2>Your Profile</h2>
    <div class="ui grid">
        <aside class="ui eight wide column">
            {{> profilecard }}
        </aside>
        <aside class="ui eight wide column">
            <row>
            <div class="ui huge statistics">
                <div class="statistic">
                    <div class="value">
                        <i class="user icon"></i> {{numberFollowing}}
                    </div>
                    <div class="label">
                        Following
                    </div>
                </div>
                <div class="statistic">
                    <div class="value">
                        <i class="user icon"></i> {{numberFollower}}
                    </div>
                    <div class="label">
                        Followers
                    </div>
                </div>
                <div class="statistic">
                    <div class="value">
                        <i class="comments icon"></i> {{numberTweets}}
                    </div>
                    <div class="label">
                        Tweets
                    </div>
                </div>
            </div>
            </row>
            <row>{{> tweet }}</row>
            <row>{{> follow }}</row>
        </aside>
    </div>
    <div class="ui grid">

        <aside class="ui eight wide column">
            <h3>Personal Timeline </h3>
            {{> personal_tweetlist }}
        </aside>
    </div>
</section>