{{> mainmenu _id="timeline"}}
<section class="ui raised segment">
    <h1> Profile</h1>
    <h4> Name: {{ userFullName }}</h4>
    <h4> E-Mail: {{ email }}</h4>

    <div class="ui grid">

        <aside class="ui eight wide column">
            {{> tweet }}
            <h3>Personal Timeline </h3>
            {{> personal_tweetlist }}
        </aside>
        <aside class="ui eight wide column">
        {{> follow}}
        </aside>
    </div>
</section>